*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(40deg,#7540ae,#4a0cbd) ;
}
.container{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #7540ae;
    border: 2px solid rebeccapurple;
    box-shadow:0px 0px 50px rgb(149, 113, 188) ;
    color: rgb(203, 166, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6b686f;

}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: 70px;
    border-radius:8px ;
}